# Mouse:
  input "1739:52542:MSFT0001:00_06CB:CD3E_TouchPad" {
		accel_profile "adaptive"
		#scroll_method "two_finger"
		natural_scroll	"enabled"
		click_method	"clickfinger"
		dwt "enabled"
		middle_emulation "enabled"
  }

input "1739:52542:MX_Master_Mouse" {
  natural_scroll enable
  accel_profile adaptive
  pointer_accel -0.3
}
# keyboard layout
	input * xkb_layout "us"

# numlock on
	input * xkb_numlock enabled

# bind caps to ctrl
	input * xkb_options ctrl:nocaps
